<h1>MY CHART</h1>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each eachInfoCompanies}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.category_code}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>