<h1 class="title">Business Directory</h1>

<table id="search" class="table table-sm table-dark table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each eachInfoCompanies}}
        <tr>
            <td>
                <a href="/company/{{this._id}}">
                    {{this.name}}
                </a>
            </td>
            <td>{{this.category_code}}</td>
            <td>{{this.description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/javascripts/tableAnalytics.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/searchTable.js"></script>