body {
  font-family: 'Open Sans', sans-serif;  
  min-height: auto;
  position: relative;
}

/* Companies list page */
.title {
    text-align: center;
}

#search_wrapper {
    margin-left: 20%;
    margin-right: 20%;
}

#search_paginate > a, .paginate_button {
      padding-right: 2% !important;
  }
  /* Company Description */

  .card {
      text-align: center !important;
      margin: auto;
  }

  .message {
      color: rgba(0, 0, 255, 0.644);
      font-size: smaller;
      margin: 2% 0 0 8%;
  }
